:root {
  --ilw-page--main-margin-top: 30px;
  --ilw-page--main-margin-bottom: 30px;
  --ilw-page--main-margin: 0 max(1.875rem, calc(50cqw - 37.5rem)) 0;
  --ilw-page--margin: 0;
}

ilw-page.ilw-margin {
  --ilw-page--margin: var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem)));
  display: block;
  overflow-y: hidden;
}

ilw-page.ilw-font h1 {
  font-family: var(--il-font-heading);
}

ilw-page.ilw-font h2, ilw-page.ilw-font h3, ilw-page.ilw-font h4, ilw-page.ilw-font p, ilw-page.ilw-font li, 
ilw-page.ilw-font div, ilw-page.ilw-font input, ilw-page.ilw-font select, ilw-page.ilw-font textarea, 
ilw-page.ilw-font summary, ilw-page.ilw-font caption, ilw-page.ilw-font blockquote {
  font-family: var(--il-font-sans);
}

@layer pageIllinois {
  ilw-page.ilw-format main p, ilw-page.ilw-format main caption, ilw-page.ilw-format main blockquote {
    display: block;
    font: 400 1.125rem/1.667rem var(--il-font-sans);
    color: inherit;
    margin-top: 1.2rem;
    margin-bottom: 0;
  }
  ilw-page.ilw-format main b, ilw-page.ilw-format main strong {
    font-weight: 700;
  }
  ilw-page.ilw-format main i, ilw-page.ilw-format main em {
    font-style: italic;
  }
  ilw-page.ilw-format main a {
    color: var(--ilw-link--color);
    text-decoration: underline;
    cursor: pointer;
  }
  ilw-page.ilw-format main a:hover, ilw-page.ilw-format main a:focus {
    color: var(--ilw-link--color-focus);
  }
  ilw-page.ilw-format main a:focus {
    outline: var(--ilw-link--outline-focus); 
  }
  ilw-page.ilw-format main a:visited {
    color: var(--ilw-link--color-visited);
  }
  
  ilw-page.ilw-format main h1, ilw-page.ilw-format main h2, ilw-page.ilw-format main h3, 
  ilw-page.ilw-format main h4, ilw-page.ilw-format main h5, ilw-page.ilw-format main h6 {
    display: block;
    line-height: 1.2;
    font-style: normal;
    font-weight: 700;
    font-family: var(--il-font-sans);
    color: var(--ilw-heading--color);
    margin-top: 1.8rem;
    margin-bottom: 0;
  }
  ilw-page.ilw-format main h1 {
    font-size: 4.25rem;
    line-height: 5.25rem;
    margin-top: 1.3125rem;
    margin-bottom: 2.625rem;
    font-family: var(--il-font-heading);
  }
  ilw-page.ilw-format main h2 {
    font-size: 2.625rem;
    line-height: 2.625rem;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
  }
  ilw-page.ilw-format main h3 {
    font-size: 1.625rem;
    line-height: 2.625rem;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
  }
  ilw-page.ilw-format main h4, ilw-page.ilw-format main h5, ilw-page.ilw-format main h6 {
    font-size: 1.2rem;
    line-height: 1.667rem;
    margin-top: 1.3125rem;
    margin-bottom: 0rem;
    }
  
  ilw-page.ilw-format main ul, ilw-page.ilw-format main ol {
    margin-top: 1.2rem;
    margin-bottom: 0;
  }
  ilw-page.ilw-format main li {
    font: 400 1.125rem/1.667 var(--il-font-sans);
    color: inherit;
  }
}

